Primero creo el contenedor de MyPostgress: 
```
docker run --name my-postgress -e POSTGRES_PASSWORD=mysecretpassword -p 5432:5432 -d postgres
```

In [3]:
# postgres_example.py
import psycopg2
from psycopg2 import sql

# --- Parámetros de conexión ---
# Asegúrate de que el contenedor Docker esté corriendo
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "postgres"  # Base de datos por defecto
DB_USER = "postgres"  # Usuario por defecto
DB_PASS = "mysecretpassword" # La que pusiste en el comando docker run

In [4]:
# 1. Establecer la conexión
conn = psycopg2.connect(
    host=DB_HOST,
    port=DB_PORT,
    dbname=DB_NAME,
    user=DB_USER,
    password=DB_PASS
)
print("Conexión a PostgreSQL exitosa!")

Conexión a PostgreSQL exitosa!

In [5]:
# 2. Crear un cursor (autocommit=True para que los cambios se apliquen inmediatamente)
conn.autocommit = True
cursor = conn.cursor()

# 3. Ejecutar queries
# Limpieza previa (opcional)
cursor.execute("DROP TABLE IF EXISTS usuarios;")

# Crear tabla
create_table_query = """
CREATE TABLE usuarios (
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(50) NOT NULL,
    email VARCHAR(50) UNIQUE NOT NULL
);
"""
cursor.execute(create_table_query)
print("Tabla 'usuarios' creada.")

Tabla 'usuarios' creada.

In [6]:
# Insertar datos de forma segura para evitar inyección SQL
insert_query = "INSERT INTO usuarios (nombre, email) VALUES (%s, %s);"
usuarios_a_insertar = [
    ('Ana', 'ana@example.com'),
    ('Carlos', 'carlos@example.com')
]
cursor.executemany(insert_query, usuarios_a_insertar)
print(f"{cursor.rowcount} usuarios insertados.")

# 4. Consultar y obtener resultados
cursor.execute("SELECT id, nombre, email FROM usuarios ORDER BY nombre;")

print("\n--- Usuarios en la base de datos ---")
for row in cursor.fetchall():
    print(f"ID: {row[0]}, Nombre: {row[1]}, Email: {row[2]}")

2 usuarios insertados.

--- Usuarios en la base de datos ---
ID: 1, Nombre: Ana, Email: ana@example.com
ID: 2, Nombre: Carlos, Email: carlos@example.com

In [7]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.43-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jose\miniconda3\envs\sql_env\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.43-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 30.1 MB/s  0:00:00
Downloading greenlet-3.2.4-cp311-cp311-win_amd64.whl (299 kB)
Installing collected packages: greenlet, sqlalchemy

   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.2.4 sqlalchemy-2.0.43
Note: you may need to restart the kernel to use updated packages.

SQLALCHEMY permite la conexión de bases de datos con distintos sistemas de gestión de bases de datos

URL GENERICA CONEXION BASE DE DATOS
```
<protocolo>://<usuario>:<contraseña@<host>:<puerto>/<nombre_bd>
```

In [13]:
from sqlalchemy import create_engine

churro = 'postgresql://postgres:mysecretpassword@localhost:5432/postgres'
engine = create_engine(churro)

In [12]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.3.3-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jose\miniconda3\envs\sql_env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\jose\miniconda3\envs\sql_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp311-cp311-win_amd64.whl (11.3 MB)
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.3 MB 2.4 MB/s eta 0:00:05
   ------- -------------------------------- 2.1/11.3 MB 5.6 MB/s eta 0:00:02
   ------------- -------------------------- 3.9/11.3 MB 6.5 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.3 MB 6.4 MB/s eta 0:00:01
   --------------------- ------------------ 6.0/11.3 MB 6.1 MB/s eta 0:00:01
   --------------------------- ------------ 7.9/11.3 MB 6.6 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.3 MB 7.3 MB/s eta 0:00:01
   ---------------------------------------- 11.3/11.3 MB 7.5 MB/s  0:00:01
Downloading numpy-2.3.3-cp311-cp311-win_amd64.whl (13.1 MB)
   ---------------------------------------- 0.0/13.1 MB ? eta -:--:--
   ----------- ---------------------------- 3.7/13.1 MB 18.2 MB/s eta 0:00:01
   ---------------- ----------------------- 5.5/13.1 MB 13.4 MB/s eta 0:00:01
   -------------------- ------------------- 6.8/13.1 MB 10.5 MB/s eta 0:00:01
   ------------------------ --------------- 7.9/13.1 MB 9.5 MB/s eta 0:00:01
   ------------------------------- -------- 10.2/13.1 MB 9.8 MB/s eta 0:00:01
   ---------------------------------------  12.8/13.1 MB 10.5 MB/s eta 0:00:01
   ---------------------------------------- 13.1/13.1 MB 10.1 MB/s  0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ---------------------------------------- 4/4 [pandas]

Successfully installed numpy-2.3.3 pandas-2.3.2 pytz-2025.2 tzdata-2025.2

In [14]:
import pandas as pd
pd.read_sql('SELECT * FROM usuarios;', engine)

   id  nombre               email
0   1     Ana     ana@example.com
1   2  Carlos  carlos@example.com

In [15]:
df = pd.DataFrame(
    {"col1": [1,2,3,4,5],
    "col2": [10,20,30,40,50]}
)

In [17]:
df

   col1  col2
0     1    10
1     2    20
2     3    30
3     4    40
4     5    50

In [18]:
df.to_sql(index=False, name='test', con=engine, if_exists='replace')

5

In [19]:
pd.read_sql('SELECT * FROM test;', engine)

   col1  col2
0     1    10
1     2    20
2     3    30
3     4    40
4     5    50

AHORA CON MYSQL
```

Primero hago el docker run: 
```
docker run --name my-mysql -e MYSQL_ROOT_PASSWORD=mysecretpassword -p 3306:3306 -d mysql
```

In [25]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\jose\miniconda3\envs\sql_env\lib\site-packages (9.4.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
# mysql_example.py
import mysql.connector
from mysql.connector import errorcode

# --- Parámetros de conexión ---
# Asegúrate de que el contenedor Docker esté corriendo
DB_HOST = "localhost"
DB_PORT = "3306"
DB_USER = "root"
DB_PASS = "mysecretpassword" # La que pusiste en el comando docker run
DB_NAME = "testdb" # Crearemos esta base de datos

In [27]:
# 1. Establecer la conexión (sin especificar la base de datos al principio)
conn = mysql.connector.connect(
    host=DB_HOST,
    port=DB_PORT,
    user=DB_USER,
    password=DB_PASS
)
print("Conexión a MySQL exitosa!")
cursor = conn.cursor()

Conexión a MySQL exitosa!

In [29]:
# Crear la base de datos si no existe
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {DB_NAME} CHARACTER SET 'utf8mb4'")
cursor.execute(f"USE {DB_NAME}")
print(f"Usando la base de datos '{DB_NAME}'.")

Usando la base de datos 'testdb'.

In [30]:
# 3. Ejecutar queries
# Limpieza previa (opcional)
cursor.execute("DROP TABLE IF EXISTS usuarios;")

In [31]:
# Crear tabla
create_table_query = """
CREATE TABLE usuarios (
    id INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(50) NOT NULL,
    email VARCHAR(50) UNIQUE NOT NULL
) ENGINE=InnoDB;
"""
cursor.execute(create_table_query)
print("Tabla 'usuarios' creada.")

Tabla 'usuarios' creada.

In [32]:
# Insertar datos
insert_query = "INSERT INTO usuarios (nombre, email) VALUES (%s, %s)"
usuarios_a_insertar = [
    ('Ana', 'ana@example.com'),
    ('Carlos', 'carlos@example.com')
]
cursor.executemany(insert_query, usuarios_a_insertar)
conn.commit() # En mysql-connector, el commit es manual
print(f"{cursor.rowcount} usuarios insertados.")

2 usuarios insertados.

In [35]:
try:
    # 4. Consultar y obtener resultados
    cursor.execute("SELECT id, nombre, email FROM usuarios ORDER BY nombre;")

    print("\n--- Usuarios en la base de datos ---")
    for (id, nombre, email) in cursor:
        print(f"ID: {id}, Nombre: {nombre}, Email: {email}")

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Error de usuario o contraseña")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe")
    else:
        print(f"Ocurrió un error de MySQL: {err}")

except Exception as e:
    print(f"Ocurrió un error general: {e}")

--- Usuarios en la base de datos ---
ID: 1, Nombre: Ana, Email: ana@example.com
ID: 2, Nombre: Carlos, Email: carlos@example.com

In [38]:
churro = 'mysql+pymysql://root:mysecretpassword@localhost:5432/testdb'
engine = create_engine(churro)

import pandas as pd